body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

section {
  display: block;
  margin: 10px;
  padding: 10px;
  margin-top: 10px;
  border: solid 1px lightgray;
  border-radius: 5px;
}

.csv-table {
  font-size: 0.7em;
  user-select: none;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  overflow: visible;
  user-select: none;
  -webkit-user-select: none;
}

.csv-table-cell {
  position: absolute;
  display: block;
  overflow: hidden;
  border-top: solid 1px;
  border-left: solid 1px;
  border-right: solid 1px;
  border-bottom: solid 1px;
  margin: 0;
  padding: 0;
  padding-left: 1px;
}

.csv-table-cell > div {
  margin-left: 1px;
}

.csv-control-panel {
  display: flex;
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  height: 22px;
  width: 100%;
  padding: 4px;
  background-color: #fafafa;
}

.table-marker {
  visibility: hidden;
  border: solid 2px blue;
  pointer-events: none;
}

.table-thumb {
  position: absolute;
}

.table-resize-marker {
  z-index: 60;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 0px;
  border: solid 1px black;
  background-color: gray;
  pointer-events: none;
}

.csv-table-code {
  margin: 0px;
  padding: 0px;
}

.csv-button {
  font-size: 0.7em;
  padding: 0px;
  margin-right: 10px;
  width: 80px;
  border: solid 1px lightgray;
  background-color: #e0e0e0;
  border-radius: 5px;
  outline: none;
  height: 22px;
  font-weight: bold;
}

.csv-button:active {
  background-color: gray;
}

.csv-script-button {
  float: right;
}

.csv-data-input {
  flex-grow: 1;
  margin-left: 10px;
  margin-right: 10px;
  width: 100px;
  border: solid 1px lightgray;
  border-radius: 5px;
  outline: none;
  height: 18px;
}

.csv-data-name {
  font-size: 0.7em;
  margin-left: 10px;
  margin-top: 4px;
}

.csv-cell-button {
  padding: 0 5px;
  border-radius: 5px;
  overflow: hidden;
}

.csv-cell-button:active {
  background-color: skyblue;
}

.group-name {
  font-size: 0.9em;
  margin: 0px;
  margin-bottom: 2px;
}

.group-item {
  font-size: 0.9em;
  margin-left: 10px;
  margin-bottom: 2px;
}

.csv-list-container {
  display: flex;
  height: 100%;
}

.csv-row-1 {
  padding: 10px;
  flex: 1;
  border-right: solid 1px black;
}

.csv-row-2 {
  padding: 10px;
  flex: 2;
  border-right: solid 1px black;
}

.csv-section {
  font-size: 0.9em;
  height: 100%;
}

.csv-group-active {
  color: red;
  font-weight: bold;
}
