body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

section {
  display: block;
  margin: 10px;
  padding: 10px;
  margin-top: 10px;
  border: solid 1px lightgray;
  border-radius: 5px;
}

.csv-table {
  font-size: 0.7em;
  user-select: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 0;
  top: 0;
  display: inline-block;
  overflow: auto;
}

.csv-table-cell {
  overflow: hidden;
  border-top: solid 1px;
  border-left: solid 1px;
  border-right: solid 1px;
  border-bottom: solid 1px;
}

.thumb-table-cell {
  /* background-color: transparent;
  opacity: 0; */
}

.csv-control-panel {
  display: block;
  position: absolute;
  z-index: 100;
  left: 30px;
  height: 24px;
}

.table-marker {
  visibility: hidden;
  border: solid 2px blue;
  pointer-events: none;
}

.table-thumb {
  position: absolute;
}

.table-resize-marker {
  z-index: 60;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 100px;
  border: solid 1px blue;
  background-color: blue;
}

.csv-table-code {
  margin: 0px;
  padding: 0px;
}

.csv-save-button {
  font-size: 0.7em;
  padding: 0px;
  margin-right: 10px;
  width: 80px;
}

.csv-data-input {
  width: 500px;
}

.csv-cell-button {
  display: inline-block;
  background-color: lightgray;
  border: solid 1px gray;
  padding: 0 5px;
  border-radius: 5px;
  overflow: hidden;
}

.csv-cell-button:active {
  background-color: skyblue;
}
